<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ElixirViteApp", suffix: " · Phoenix Framework" %>

    <%= if Application.get_env(:elixir_vite_app, :vite) |> Keyword.fetch!(:mode) == :dev do %>
      <script type="module" src="http://localhost:3000/@vite/client"></script>
      <script type="module" src="http://localhost:3000/src/main.js"></script>
    <% else %>
      <link rel="stylesheet" href={Routes.static_path(@conn, "/dist/assets/main.css")}/>
      <script type="module" src={Routes.static_path(@conn, "/dist/assets/main.js")}></script>
    <% end %>

  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
